build:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_COMMIT_BRANCH == "main"
stage: build
image: golang:1.20
script:
  - sudo apt-get update
  - sudo apt-get install -y ca-certificates
  - sudo echo "deb https://storage.googleapis.com/tanzu-cli-os-packages/apt tanzu-cli-jessie main" | sudo tee /etc/apt/sources.list.d/tanzu.list
  - sudo apt-get update --allow-insecure-repositories
  - sudo apt-get install -y tanzu-cli --allow-unauthenticated

  - tanzu ceip-participation set false
  - tanzu version
  - tanzu plugin install builder

  - make plugin-build-install-local

  - make test

  - make lint
