name: Build

on:
  pull_request:
    branches: [ main, release-*]
  push:
    branches: [ main, test*, release-*]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.21
      uses: actions/setup-go@v3
      with:
        go-version: 1.21
      id: go

    - name: Config credentials
      env:
        GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
      run: |
        git config --global url."https://git:$GITHUB_TOKEN@github.com".insteadOf "https://github.com"

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Run markdown link check
      uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-quiet-mode: 'yes'

    - name: go cache
      uses: actions/cache@v3
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Cache linting
      uses: actions/cache@v3
      with:
        path: ${{ runner.temp }}/lint_cache
        key: ${{ runner.os }}-lint-cache-2

    - name: Setup dependencies
      run: |
        make tools
        echo "${PWD}/hack/tools/bin" >> $GITHUB_PATH

    - name: Run lint
      run: |
        make lint

    - name: Run make verify
      run: |
        make verify

    - name: Cross build
      run: |
        make cross-build
