name: Tanzu CLI Coexistence Tests

on:
  pull_request:
    branches: [main, release-*]
  push:
    branches: [main, release-*]
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+-*"
      - "test/e2e/framework/v[0-9]+.[0-9]+.[0-9]+"
      - "test/e2e/framework/v[0-9]+.[0-9]+.[0-9]+-*"

jobs:
  build-and-run:
    name: Tanzu CLI Coexistence Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go 1.x
        uses: actions/setup-go@v4
        with:
          go-version: 1.23
        id: go

      - name: Setup dependencies
        run: |
          make tools
          echo "${PWD}/hack/tools/bin" >> $GITHUB_PATH
          echo "${PWD}/bin" >> $GITHUB_PATH

      - name: Build CLI Core
        run: |
          make build

      - name: Start local OCI registry
        run: |
          make start-test-central-repo

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./test/e2e/coexistence/Dockerfile
          push: false
          tags: cli-coexistence:latest
          build-args: |
            TANZU_CLI_COEXISTENCE_LEGACY_TANZU_CLI_DIR=/app/legacy-tanzu-cli
            TANZU_CLI_COEXISTENCE_LEGACY_TANZU_CLI_VERSION=v0.28.1
            TANZU_CLI_COEXISTENCE_LEGACY_TANZU_CLI_URL=https://ent.box.com/shared/static/984uoy8mayq6rpdrfwh1omxurc0ixo57.gz
            TANZU_CLI_COEXISTENCE_NEW_TANZU_CLI_DIR=/app/tanzu-cli

      - name: Run Docker image
        run: make cli-coexistence-tests

      - name: Tests Results Summary
        if: always()
        run: |
          sudo chmod -R 777 test/e2e/coexistence/testresults
          TEST_RESULTS_MD=$(./hack/scripts/process-ginkgo-test-results.sh test/e2e/coexistence/testresults)
          echo "$TEST_RESULTS_MD" >> $GITHUB_STEP_SUMMARY
