name: Tanzu CLI Test Framework E2E Tests

on:
  pull_request:
    branches: [main, release-*]
  push:
    branches: [ main, test*, release-*]
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+-*"
      - "test/e2e/framework/v[0-9]+.[0-9]+.[0-9]+"
      - "test/e2e/framework/v[0-9]+.[0-9]+.[0-9]+-*"

jobs:
  build:
    name: Tanzu CLI Test Framework E2E Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Set up Go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: 1.23
        id: go

      - name: go cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Setup dependencies
        run: |
          make tools
          echo "${PWD}/hack/tools/bin" >> $GITHUB_PATH
          echo "${PWD}/bin" >> $GITHUB_PATH

      - name: Build CLI Core
        run: |
          make build

      - name: Run Sample-Plugin E2E Tests
        run: |
          cd ./test/sample-plugin && make e2e-tests-simple-plugin
      - name: Tests Results Summary
        if: always()
        run: |
          TEST_RESULTS_MD=$(./hack/scripts/process-ginkgo-test-results.sh ./test/sample-plugin/cmd/plugin/sample-plugin/test/e2e/testresults)
          echo "$TEST_RESULTS_MD" >> $GITHUB_STEP_SUMMARY
          if [[ $TEST_RESULTS_MD == *":x:"* ]]; then
            exit 1
          fi
